@model AbantwanaWebMaster.Model.YearLearnerClassRoom


<style>
    .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

        .dropbtn:hover, .dropbtn:focus {
            background-color: #3e8e41;
        }

    #myInput {
        box-sizing: border-box;
        background-image: url('searchicon.png');
        background-position: 14px 12px;
        background-repeat: no-repeat;
        font-size: 16px;
        padding: 14px 20px 12px 45px;
        border: none;
        border-bottom: 1px solid #ddd;
    }

        #myInput:focus {
            outline: 3px solid #ddd;
        }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f6f6f6;
        min-width: 230px;
        overflow: auto;
        border: 1px solid #ddd;
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

    .dropdown a:hover {
        background-color: #ddd;
    }

    .show {
        display: block;
    }
</style>

<body>
    <button onclick="topFunction()" id="myBtn" title="Go to top" style="width:5%">Top</button>
    <div class="container">
        @*<button class="w3-button w3-teal w3-round" style="width:15%"> @Html.ActionLink("Create New", "Create")</button>*@

        <div class="content">


            @using (Html.BeginForm("LearnerAllocation", "Classroom", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Classroom</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.learnerId)

                <div class="form-group">
                    @Html.LabelFor(model => model.yearId, htmlAttributes: new { @class = "control-label col-md-2" })

                    <div class="col-md-10">
                        @Html.DropDownList("yearId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.yearId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.classRoomId, htmlAttributes: new { @class = "control-label col-md-2" })

                    <div class="col-md-10">
                        @Html.DropDownList("classRoomId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.classRoomId, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
           
        </div>
    </div>

</body>