
<header class="main-header  navbar-fixed-top">
    <a href="@Url.Action("ndex", "Home")" class="logo">
        <span class="logo-mini"><b>ONS</b>KOOL</span>
        <span class="logo-lg"><b>ONSKOOL</b> </span>
    </a>


    <nav class="navbar navbar-static navbar-fixed-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-envelope-o"></i>
                        <span class="label label-success">4</span>
                    </a>

                    <ul class="dropdown-menu">
                        <li class="header">You have 4 messages</li>
                        <li>
                            <ul class="menu">
                                <li>
                                    <a href="#">
                                        <div class="pull-left">
                                            <img src="~/AdminLTE/dist/img/user.svg" class="img-circle" alt="User Image">
                                        </div>
                                        <h4>
                                            Support Team
                                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                        </h4>
                                        <p>Why not buy a new awesome theme?</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="pull-left">
                                            <img src="~/AdminLTE/dist/img/user.svg" class="img-circle" alt="User Image">
                                        </div>
                                        <h4>
                                            AdminLTE Design Team
                                            <small><i class="fa fa-clock-o"></i> 2 hours</small>
                                        </h4>
                                        <p>Why not buy a new awesome theme?</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="pull-left">
                                            <img src="~/AdminLTE/dist/img/user.svg" class="img-circle" alt="User Image">
                                        </div>
                                        <h4>
                                            Developers
                                            <small><i class="fa fa-clock-o"></i> Today</small>
                                        </h4>
                                        <p>Why not buy a new awesome theme?</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="pull-left">
                                            <img src="~/AdminLTE/dist/img/user.svg" class="img-circle" alt="User Image">
                                        </div>
                                        <h4>
                                            Sales Department
                                            <small><i class="fa fa-clock-o"></i> Yesterday</small>
                                        </h4>
                                        <p>Why not buy a new awesome theme?</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="pull-left">
                                            <img src="~/AdminLTE/dist/img/user.svg" class="img-circle" alt="User Image">
                                        </div>
                                        <h4>
                                            Reviewers
                                            <small><i class="fa fa-clock-o"></i> 2 days</small>
                                        </h4>
                                        <p>Why not buy a new awesome theme?</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer"><a href="#">See All Messages</a></li>
                    </ul>
                </li>
                @if (User.IsInRole("Parent"))
                {
                    <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="label label-warning">@Html.Partial("_AnnouncementCounter")</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have (@Html.Partial("_AnnouncementCounter")) New Announcements</li>
                            <li>
                                <ul class="menu">
                                    <a href="@Url.Action("pIndex", "Announcement")">
                                        <span class="label label-danger"><i class="icon_book_alt"></i></span>
                                        View all Announcements

                                    </a>
                                </ul>
                            </li>

                        </ul>
                    </li>
                }
                @if (User.IsInRole("admin"))
                {
                    <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="label label-warning"> @Html.Partial("_LeaveRequestCounter")</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have (@Html.Partial("_LeaveRequestCounter"))Total leave requests</li>
                            <li>
                                <ul class="menu">
                                    <li>
                                        <a href="@Url.Action("index", "Leave")">
                                            <span class="label label-danger"><i class="icon_book_alt"></i></span>
                                            View all Leave requests

                                        </a>
                                    </li>

                                </ul>
                            </li>

                        </ul>
                    </li>
                    <li>

                        @{Html.RenderAction("CartSummary", "ShoppingCart");}

                    </li>
                }
                @if (User.IsInRole("Teacher"))
                {
                    <li>
                        @{Html.RenderAction("CartSummary", "ShoppingCart");}
                    </li>
                }

                @Html.Partial("_LoginPartial")
                <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>